<div class="container-fluid px-0" data-ng-controller="SharepointAccountsCtrl as accountsCtrl">
    <div class="text-center" data-ng-if="accountsCtrl.loaders.init">
        <oui-spinner data-size="l"></oui-spinner>
    </div>

    <div class="row" data-ng-show="!accountsCtrl.loaders.init">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="sharepoint_accounts_empty"
                 data-ng-if="!accountsCtrl.loaders.init && !accountsCtrl.hasResult">
            </div>

            <div data-ng-if="!accountsCtrl.loaders.init && accountsCtrl.hasResult">
                <div class="mb-3">
                    <form class="form-inline d-md-flex justify-content-md-end" name="searchSharePointAccountForm">
                        <div class="form-group">
                            <label class="sr-only" for="sharePointAccountSearch"
                                   data-ng-bind="::i18n.common_search"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="sharePointAccountSearch" name="sharePointAccountSearch" placeholder="{{::i18n.exchange_tab_ACCOUNTS_table_email}}"
                                       data-ng-change="accountsCtrl.updateSearch()"
                                       data-ng-disabled="accountsCtrl.loaders.search"
                                       data-ng-model="accountsCtrl.search.value"
                                       data-ng-model-options='{ debounce: 800 }'>

                                <div class="input-group-btn" data-ng-if="accountsCtrl.search.value">
                                    <button class="btn btn-default" type="button" aria-label="{{i18n.common_cancel}}"
                                            data-ng-click="accountsCtrl.emptySearch()"
                                            data-ng-disabled="accountsCtrl.loaders.search">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <span class="input-group-addon"
                                      data-ng-if="!accountsCtrl.search.value">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>

                <oui-datagrid data-rows="accountsCtrl.accountIds"
                              data-row-loader="accountsCtrl.onTranformItem($row.accountId)">
                    <oui-column data-title="tr('sharepoint_accounts_userPrincipalName')" data-property="userPrincipalName"></oui-column>
                    <oui-column data-title="tr('sharepoint_accounts_one_drive_space')">
                        <span data-ng-if="!$row.activated">-</span>
                        <div class="oui-progress m-0" style="min-width:140px"
                             data-ng-class="{
                                'oui-progress_success': $row.percentUse < 51,
                                'oui-progress_warning': $row.percentUse > 50 && $row.percentUse < 81,
                                'oui-progress_error': $row.percentUse > 80
                            }"
                             data-ng-if="$row.activated">
                            <div class="oui-progress__bar oui-progress__bar_text-left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{$row.percentUse}}"
                                 data-ng-class="{
                                    'oui-progress__bar_success': $row.percentUse < 51,
                                    'oui-progress__bar_warning': $row.percentUse > 50 && $row.percentUse < 81,
                                    'oui-progress__bar_error': $row.percentUse > 80
                                 }"
                                 data-ng-style="{'width': $row.percentUse + '%'}">
                                <span class="oui-progress__label"
                                      data-ng-bind="::$row.usedQuota.value + ' ' + tr('unit_size_' + $row.usedQuota.symbol) + ' / ' + $row.totalQuota.value + ' ' + tr('unit_size_' + $row.totalQuota.symbol)"></span>
                            </div>
                        </div>
                    </oui-column>
                    <oui-column data-title="tr('sharepoint_accounts_administrator')" data-property="accessRights">
                        <span class="oui-icon oui-icon-success text-success" aria-label="{{i18n.common_yes}}"
                              data-ng-if="$row.accessRights === 'administrator'" ></span>
                        <span data-ng-if="$row.accessRights !== 'administrator'"> - </span>
                    </oui-column>
                    <oui-column data-title="tr('sharepoint_accounts_user')" data-property="accessRights">
                        <span class="oui-icon oui-icon-success text-success" aria-label="{{i18n.common_yes}}"
                              data-ng-if="$row.accessRights"></span>
                        <span data-ng-if="!$row.accessRights"> - </span>
                    </oui-column>
                    <oui-column data-title="tr('sharepoint_accounts_license_office')" data-property="officeLicense">
                        <span class="oui-icon oui-icon-success text-success" aria-label="{{i18n.common_yes}}"
                              data-ng-if="$row.officeLicense"></span>
                        <span data-ng-if="!$row.officeLicense"> - </span>
                    </oui-column>
                    <oui-action-menu  data-align="end" data-compact>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_change_configuration')}}"
                                              data-on-click="accountsCtrl.updateAccount($row)"
                                              data-disabled="$row.taskPendingId"
                                              data-ng-if="accountsCtrl.isStandAlone"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_change_password')}}"
                                              data-on-click="accountsCtrl.updatePassword($row)"
                                              data-disabled="$row.taskPendingId"
                                              data-ng-if="$row.accessRights"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_admin_add')}}"
                                              data-on-click="accountsCtrl.activateSharepointAdmin($row)"
                                              data-disabled="$row.taskPendingId"
                                              data-ng-if="$row.accessRights && $row.accessRights === 'user'"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_admin_remove')}}"
                                              data-on-click="accountsCtrl.activateSharepointUser($row)"
                                              data-disabled="$row.taskPendingId"
                                              data-ng-if="$row.accessRights && $row.accessRights === 'administrator'"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_sharepoint_activate')}}"
                                              data-on-click="accountsCtrl.activateSharepoint($row)"
                                              data-ng-if="!$row.activated"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_office_upgrade')}}"
                                              data-on-click="accountsCtrl.activateOffice($row)"
                                              data-ng-if="!$row.officeLicense"></oui-action-menu-item>
                        <oui-action-menu-item data-text="{{tr('sharepoint_accounts_action_sharepoint_remove')}}"
                                              data-on-click="accountsCtrl.deactivateSharepoint($row)"
                                              data-disabled="$row.taskPendingId"></oui-action-menu-item>
                    </oui-action-menu>
                </oui-datagrid>
            </div>
        </div>

        <div class="col-md-3 mt-md-5 mt-lg-0">
            <button class="btn btn-block btn-default text-wrap" title="{{i18n.sharepoint_accounts_action_reset_admin_tooltip}}"
                    data-i18n-static="sharepoint_accounts_action_reset_admin"
                    data-ng-click="accountsCtrl.resetAdminRights()">
            </button>
            <button class="btn btn-block btn-default text-wrap" title="{{i18n.exchange_ACTION_order_accounts_button}}"
                    data-i18n-static="exchange_ACTION_order_accounts_button"
                    data-ng-click="setAction('account/add/sharepoint-account-add', {})"
                    data-ng-if="accountsCtrl.isStandAlone">
            </button>
        </div>
    </div>
</div>
