<div class="container-fluid px-0" data-ng-controller="SharepointInformationsCtrl as informationsCtrl">

    <div class="text-center" data-ng-if="informationsCtrl.loaders.init">
        <oui-loader size="l" inline="true"></oui-loader>
    </div>

    <div class="row" data-ng-show="!informationsCtrl.loaders.init">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="row d-md-flex">
                <div class="col-sm-6">
                    <div class="oui-tile mb-5 h-100">
                        <h3 class="oui-tile__title" data-i18n-static="sharepoint_dashboard_access"></h3>
                        <div class="oui-tile__body">
                            <ul class="list-unstyled">
                                <li class="oui-tile__item">
                                    <div class="oui-tile__definition">
                                        <strong class="d-block" data-i18n-static="sharepoint_dashboard_url_label"></strong>
                                        <a data-ng-href="https://{{informationsCtrl.sharepoint.url}}" target="_blank"
                                           data-ng-if="informationsCtrl.sharepoint.state !== 'creating'">
                                            <span data-ng-bind="'https://' + informationsCtrl.sharepoint.url"></span>
                                            <span class="fa fa-external-link" aria-hidden="true"></span>
                                        </a>
                                        <span data-i18n-static="sharepoint_dashboard_creating_url_label"
                                              data-ng-show="informationsCtrl.sharepoint.state === 'creating'"></span>
                                    </div>
                                </li>
                                <li class="oui-tile__item"
                                    data-ng-if="informationsCtrl.associatedExchange">
                                    <div class="oui-tile__definition">
                                        <strong class="d-block" data-i18n-static="sharepoint_dashboard_linked_exchange_label"></strong>
                                        <span data-ng-bind="SharepointCtrl.exchangeId"
                                              data-ng-if="!informationsCtrl.associatedExchangeLink"></span>
                                        <a data-ng-href="{{informationsCtrl.associatedExchangeLink}}"
                                           data-ng-bind="SharepointCtrl.exchangeId"
                                           data-ng-click="informationsCtrl.setExchange()"
                                           data-ng-if="informationsCtrl.associatedExchangeLink">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="oui-tile mb-5 h-100">
                        <h3 class="oui-tile__title" data-i18n-static="sharepoint_dashboard_quota"></h3>
                        <div class="oui-tile__body clearfix">
                            <div class="col-md-6">
                                <div id="diskUsed"
                                     data-gauge-chart
                                     data-chartdata="informationsCtrl.sharepoint.currentUsage/1024/1024/1024"
                                     data-disk-unit="tr('sharepoint_dashboard_unit_size_giga')"
                                     data-chart-min="0"
                                     data-chart-max="1024"
                                     data-limit-warning="70"
                                     data-limit-alert="85"
                                     data-color-ok="#81BB28"
                                     data-color-warning="#ECAC02"
                                     data-color-alert="#E03937"
                                     data-shadow-opacity="0.2">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <dl>
                                    <dt data-i18n-static="sharepoint_dashboard_quota_total_label"></dt>
                                    <dd class="mb-3"
                                        data-ng-bind="informationsCtrl.sharepoint.quota | humanReadableSize"></dd>

                                    <dt data-i18n-static="sharepoint_dashboard_quota_used_label"></dt>
                                    <dd class="mb-3"
                                        data-ng-bind="informationsCtrl.sharepoint.currentUsage | humanReadableSize"></dd>

                                    <dt data-i18n-static="sharepoint_dashboard_quota_free_label"></dt>
                                    <dd class="mb-3"
                                        data-ng-bind="informationsCtrl.sharepoint.quota - informationsCtrl.sharepoint.currentUsage | humanReadableSize"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-md-5 mt-lg-0">
            <p>
                <span class="fa fa-life-ring mr-2" aria-hidden="true"></span>
                <span data-i18n-static="sharepoint_dashboard_guides_help_label"></span><br>
                <a data-ng-href="{{SharepointCtrl.sharepointGuideUrl}}" target="_blank" title="{{tr('sharepoint_dashboard_guides_url')}}">
                    <span data-i18n-static="exchange_dashboard_guides_url"></span>
                    <span class="fa fa-external-link" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</div>
