<div class="container-fluid px-0" data-ng-controller="SharepointInformationsCtrl as informationsCtrl">

    <div class="loader text-center" data-ng-if="SharepointCtrl.loaders.init"></div>

    <div class="row" data-ng-if="!SharepointCtrl.loaders.init">
        <div class="col-md-9">
            <div class="row d-md-flex">
                <div class="col-sm-6">
                    <div class="oui-tile h-100">
                        <h3 class="oui-header__title" data-i18n-static="sharepoint_dashboard_access"></h3>
                        <dl>
                            <dt data-i18n-static="sharepoint_dashboard_url_label"></dt>
                            <dd class="mb-2">
                                <a data-ng-href="https://{{SharepointCtrl.sharepoint.url}}" target="_blank"
                                   data-ng-if="SharepointCtrl.sharepoint.state !== 'creating'">
                                    <span data-ng-bind="'https://' + SharepointCtrl.sharepoint.url"></span>
                                    <span class="fa fa-external-link" aria-hidden="true"></span>
                                </a>
                                <span data-i18n-static="sharepoint_dashboard_creating_url_label"
                                      data-ng-show="SharepointCtrl.sharepoint.state === 'creating'"></span>
                            </dd>

                            <dt data-i18n-static="sharepoint_dashboard_linked_exchange_label"
                                data-ng-if="informationsCtrl.associatedExchange"></dt>
                            <dd class="mb-2"
                                data-ng-bind="SharepointCtrl.exchangeId"
                                data-ng-if="informationsCtrl.associatedExchange && !informationsCtrl.associatedExchangeLink"></dd>
                            <dd class="mb-2"
                                data-ng-if="informationsCtrl.associatedExchangeLink">
                                <a data-ng-href="{{informationsCtrl.associatedExchangeLink}}"
                                   data-ng-bind="SharepointCtrl.exchangeId"
                                   data-ng-click="informationsCtrl.setExchange()">
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="oui-tile h-100">
                        <h3 class="oui-header__title" data-i18n-static="sharepoint_dashboard_quota"></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="diskUsed"
                                     data-gauge-chart
                                     data-chartdata="SharepointCtrl.sharepoint.currentUsage/1024/1024/1024"
                                     data-disk-unit="tr('sharepoint_dashboard_unit_size_giga')"
                                     data-chart-min="0"
                                     data-chart-max="1024"
                                     data-limit-warning="70"
                                     data-limit-alert="85"
                                     data-color-ok="#81BB28"
                                     data-color-warning="#ECAC02"
                                     data-color-alert="#E03937"
                                     data-shadow-opacity="0.2">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <dl>
                                    <dt data-i18n-static="sharepoint_dashboard_quota_total_label"></dt>
                                    <dd class="mb-2"
                                        data-ng-bind="SharepointCtrl.sharepoint.quota | humanReadableSize"></dd>

                                    <dt data-i18n-static="sharepoint_dashboard_quota_used_label"></dt>
                                    <dd class="mb-2"
                                        data-ng-bind="SharepointCtrl.sharepoint.currentUsage | humanReadableSize"></dd>

                                    <dt data-i18n-static="sharepoint_dashboard_quota_free_label"></dt>
                                    <dd class="mb-2"
                                        data-ng-bind="SharepointCtrl.sharepoint.quota - SharepointCtrl.sharepoint.currentUsage | humanReadableSize"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 mt-lg-0">
            <p>
                <span class="fa fa-life-ring mr-2" aria-hidden="true"></span>
                <span data-i18n-static="sharepoint_dashboard_guides_help_label"></span><br>
                <a data-ng-href="{{SharepointCtrl.sharepointGuideUrl}}" target="_blank" title="{{tr('sharepoint_dashboard_guides_url')}}">
                    <span data-i18n-static="exchange_dashboard_guides_url"></span>
                    <span class="fa fa-external-link" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</div>
