<div data-ng-controller="SharepointAddDomainController as addDomainCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addDomain"
         data-wizard-title="i18n.exchange_tab_domain_add_domain">

        <div data-wizard-step
             data-wizard-step-on-load="loadDomainData"
             data-wizard-step-valid="addDomainCtrl.model.name && addDomainCtrl.domainValid">

            <p data-i18n-static="sharepoint_add_domains_intro_label"
               data-ng-if="addDomainCtrl.availableDomainsBuffer && addDomainCtrl.availableDomainsBuffer.length > 0"></p>

            <div class="loader text-center" data-ng-if="addDomainCtrl.loading"></div>

            <form class="mt-3" name="addDomainCtrl.addDomainForm" data-ng-show="!addDomainCtrl.loading">
                <div data-ng-if="addDomainCtrl.availableDomainsBuffer && addDomainCtrl.availableDomainsBuffer.length > 0">
                    <div class="ml-3 mb-4 radio">
                        <label>
                            <input type="radio" name="addOption" value="ovhDomain"
                                   data-ng-change="addDomainCtrl.resetName()"
                                   data-ng-model="addDomainCtrl.domainType">
                            <span data-i18n-static="exchange_tab_domain_add_step1_select_domain_option"></span>
                        </label>
                        <div class="row mt-4" data-ng-if="addDomainCtrl.domainType === 'ovhDomain'">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{i18n.exchange_tab_domain_search}}"
                                           data-ng-change="addDomainCtrl.resetName()"
                                           data-ng-model="addDomainCtrl.search.value">
                                    <div class="input-group-btn"
                                         data-ng-if="addDomainCtrl.search.value">
                                        <button class="btn btn-default" type="button" title="{{i18n.sharepoint_action_reset_search}}"
                                                data-ng-click="addDomainCtrl.resetSearchValue()">
                                            <span class="fa fa-times" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <span class="input-group-addon"
                                          data-ng-if="!addDomainCtrl.search.value">
                                        <span class="fa fa-search disabled" aria-hidden="true"></span>
                                    </span>
                                </div>

                                <p class="mt-3 text-center"
                                   data-i18n-static="exchange_tab_domain_add_step1_domain_none"
                                   data-ng-if="addDomainCtrl.availableDomains.length === 0 && addDomainCtrl.search.value"></p>

                                <select class="mt-3 w-100" size="8"
                                        data-ng-change="addDomainCtrl.changeName()"
                                        data-ng-if="addDomainCtrl.availableDomains.length > 0"
                                        data-ng-model="addDomainCtrl.model.displayName">
                                    <option value="" data-ng-show="false"></option>
                                    <option data-ng-repeat="domain in addDomainCtrl.availableDomains | orderBy:'formattedName' track by $index"
                                            data-ng-bind="domain.displayName"
                                            data-ng-value="domain.displayName"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="ml-3 radio" data-ng-class="{'has-error': addDomainCtrl.addDomainForm.manualDisplayName.$dirty && !addDomainCtrl.domainValid}">
                        <label>
                            <input type="radio" name="addDomainCtrl.addOption" value="nonOvhDomain"
                                   data-ng-change="addDomainCtrl.resetName()"
                                   data-ng-model="addDomainCtrl.domainType">
                            <span data-i18n-static="exchange_tab_domain_add_step1_user_owned_option"></span>
                        </label>
                        <div class="mt-4"
                             data-ng-if="addDomainCtrl.domainType === 'nonOvhDomain'">
                            <input type="text" class="form-control" name="manualDisplayName" placeholder="{{i18n.exchange_tab_domain_domain}}"
                                   data-ng-change="addDomainCtrl.changeName()"
                                   data-ng-model="addDomainCtrl.model.displayName">
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     data-ng-if="!addDomainCtrl.availableDomainsBuffer || addDomainCtrl.availableDomainsBuffer.length === 0">
                    <label class="control-label" for="domainDisplayName"
                           data-i18n-static="exchange_tab_domain_add_step1_user_owned_option"></label>
                    <input type="text" class="form-control" id="domainDisplayName" placeholder="{{i18n.exchange_tab_domain_domain}}"
                           data-ng-change="addDomainCtrl.changeName()"
                           data-ng-model="addDomainCtrl.model.displayName">
                </div>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_tab_TASKS_ADD_DOMAIN"></h3>
                <h4 data-i18n-static="exchange_tab_domain_step1_helpwizard_subdomain_title"></h4>
                <p data-ng-bind-html="tr('exchange_tab_domain_step1_helpwizard_subdomain')"></p>
            </div>
        </div>
    </div>
</div>
