<div data-ng-controller="SharepointOrderCtrl as orderCtrl">
    <div class="page-header mb-5">
        <h1 data-i18n-static="sharepoint_order_title_label"></h1>
    </div>

    <div class="container-fluid px-5">
        <div data-ovh-alert="{{orderCtrl.alerts.main}}"></div>

        <oui-spinner data-size="l" data-ng-if="orderCtrl.loaders.init"></oui-spinner>

        <div class="row" data-ng-show="!orderCtrl.loaders.init">
            <div class="col-md-9 col-lg-6">
                <p data-i18n-static="sharepoint_activate_intro_text"></p>

                <oui-checkbox class="my-5"  id="standAlone" name="standAlone"
                    data-ng-if="orderCtrl.exchanges.length > 0 && orderCtrl.userSubsidiary === 'FR'"
                    data-model="orderCtrl.associateExchange"
                    data-text="{{::i18n.sharepoint_activate_intro_warning_associated_label}}">
                </oui-checkbox>

                <form name="orderCtrl.activateSharepointForm">
                    <div data-ng-show="!orderCtrl.associateExchange">
                        <div class="alert alert-info" role="alert"
                             data-i18n-static="sharepoint_activate_intro_warning_associated">
                        </div>

                        <div class="form-group"
                             data-ng-class="{'has-error': orderCtrl.activateSharepointForm.standAloneNumber.$dirty && orderCtrl.activateSharepointForm.standAloneNumber.$invalid}">
                            <label class="control-label required" for="standAloneNumber"
                                   data-i18n-static="sharepoint_activate_standalone_accounts_number"></label>
                            <input type="number" class="form-control w-25" name="standAloneNumber" id="standAloneNumber"
                                   data-ng-change="orderCtrl.changeStandAloneQuantity()"
                                   data-ng-min="1" min="1"
                                   data-ng-max="30" max="30"
                                   data-ng-model="orderCtrl.standAloneQuantity"
                                   data-ng-required="!orderCtrl.associateExchange">
                        </div>
                    </div>

                    <div data-ng-if="!!orderCtrl.associateExchange">
                        <div class="form-group">
                            <label class="control-label required" for="sharepointAssociatedExchange"
                                   data-i18n-static="sharepoint_activate_which_service_label"></label>
                            <div class="oui-select">
                                <select class="oui-select__input" id="sharepointAssociatedExchange" name="sharepointAssociatedExchange" required
                                        data-ng-change="orderCtrl.getAccounts()"
                                        data-ng-disabled="orderCtrl.isCommingFromAssociatedExchange"
                                        data-ng-model="orderCtrl.associatedExchange"
                                        data-ng-options="exchange.displayName for exchange in orderCtrl.exchanges | orderBy:'displayName' track by exchange.organization + exchange.name">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="min-width"></th>
                                    <th data-i18n-static="sharepoint_accounts_userPrincipalName"></th>
                                </tr>
                            </thead>

                            <tbody data-ng-if="orderCtrl.loaders.accounts">
                                <tr>
                                    <td class="loader text-center" colspan="2"></td>
                                </tr>
                            </tbody>

                            <tbody data-ng-if="!orderCtrl.loaders.accounts && !orderCtrl.accountsList.length">
                                <tr>
                                    <td class="text-center" colspan="2"
                                        data-i18n-static="sharepoint_accounts_empty"></td>
                                </tr>
                            </tbody>

                            <tbody data-ng-if="!orderCtrl.loaders.accounts && orderCtrl.accountsList.length > 0">
                                <tr data-ng-class="{'info': account.activateSharepoint}"
                                    data-ng-repeat="account in orderCtrl.accountsList track by $index">
                                    <td>
                                        <input type="checkbox" id="account.primaryEmailAddress.{{$index}}" name="account.primaryEmailAddress"
                                               data-ng-model="account.activateSharepoint"
                                               data-ng-change="orderCtrl.checkSharepointActivation(account)">
                                    </td>
                                    <td class="p-0">
                                        <label class="d-block font-weight-normal m-0 p-3" for="account.primaryEmailAddress.{{$index}}"
                                               data-ng-bind="account.primaryEmailAddress"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="clearfix"
                             data-ng-if="orderCtrl.accountsIds">
                            <div data-pagination-front
                                 data-items="orderCtrl.accountsIds"
                                 data-paginated-items="orderCtrl.accountsList"
                                 data-current-page="currentPage"
                                 data-items-per-page="itemsPerPage"
                                 data-nb-pages="nbPages"
                                 data-transform-item="orderCtrl.onTranformItem(item)"
                                 data-on-transform-item-done="orderCtrl.onTranformItemDone()"
                                 data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
                                 data-item-per-page-placeholder="{{tr('pagination_display')}}">
                            </div>
                        </div>
                    </div>

                    <div class="my-5">
                        <a class="oui-button oui-button_primary oui-button_large-height" target="_blank" title="{{i18n.sharepoint_order_button_label}} ({{i18n.core_new_window}})"
                           data-i18n-static="sharepoint_order_button_label"
                           data-ng-href="{{orderCtrl.getSharepointOrderUrl()}}"
                           data-ng-if="!orderCtrl.associateExchange"
                           data-ng-show="orderCtrl.activateSharepointForm.$valid && orderCtrl.standAloneQuantity">
                        </a>
                        <a class="oui-button oui-button_primary oui-button_large-height" target="_blank" title="{{i18n.sharepoint_order_button_label}} ({{i18n.core_new_window}})"
                           data-i18n-static="sharepoint_order_button_label"
                           data-ng-href="{{orderCtrl.getSharepointOrderUrl()}}"
                           data-ng-if="orderCtrl.associateExchange"
                           data-ng-show="orderCtrl.accountsToActivate.length > 0">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
