<div data-ng-controller="SharepointAddAccountCtrl as addAccountCtrl">
    <div data-wizard
         data-wizard-title="'sharepoint_accounts_action_sharepoint_add_title' | translate"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="submit">

        <div data-wizard-step
             data-wizard-step-valid="addAccountCtrl.addAccountForm.$valid">

            <p data-ng-bind-html="'sharepoint_accounts_action_sharepoint_add_intro' | translate"></p>

            <oui-spinner data-ng-if="addAccountCtrl.loading"></oui-spinner>

            <form class="form-horizontal" name="addAccountCtrl.addAccountForm" novalidate
                  data-ng-show="!addAccountCtrl.loading">
                <div class="form-group"
                     data-ng-repeat="option in addAccountCtrl.optionsList track by $index"
                     data-ng-class="{
                        'has-error': addAccountCtrl.addAccountForm.$invalid && addAccountCtrl.addAccountForm.$dirty,
                        'has-success': addAccountCtrl.addAccountForm.$valid && addAccountCtrl.addAccountForm.$dirty}">
                    <div class="clearfix">
                        <label class="control-label col-md-4" for="optionPricesQuantity-{{$index}}"
                               data-ng-bind="option.productName"></label>
                        <div class="col-md-3">
                            <div data-wuc-increment-number
                                 data-ng-model="option.prices[0].quantity"
                                 data-ng-required="true"
                                 data-wuc-increment-number-id="optionPricesQuantity-{{$index}}"
                                 data-wuc-increment-number-init="option.prices[0].minimumQuantity"
                                 data-wuc-increment-number-min="option.prices[0].minimumQuantity"
                                 data-wuc-increment-number-max="option.prices[0].maximumQuantity"
                                 data-wuc-increment-number-name="optionPricesQuantity[{{$index}}]"
                                 data-wuc-increment-number-size="2">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 mt-2">
                            <strong class="text-danger"
                                    data-ng-bind-html="addAccountCtrl.constructor.getPrice(option) | currency : addAccountCtrl.constructor.getCurrency(option)"></strong>
                            <span data-ng-bind-html="'sharepoint_accounts_action_sharepoint_add_monthly' | translate"></span>
                        </div>
                    </div>
                    <small class="col-md-offset-4 pl-4 help-block"
                           data-translate="sharepoint_accounts_action_sharepoint_add_error_outofbounds"
                           data-translate-values="{ t0: option.prices[0].minimumQuantity, t1: option.prices[0].maximumQuantity }"
                           data-ng-if="addAccountCtrl.addAccountForm.$invalid && addAccountCtrl.addAccountForm.$dirty"></small>
                </div>
                <p data-ng-bind-html="'sharepoint_accounts_action_sharepoint_add_extra_intro' | translate"></p>
            </form>
        </div>
    </div>
</div>
