<div data-ng-controller="SharepointAccountAddCtrl as $ctrl">
    <oui-modal data-heading="{{ 'sharepoint_accounts_action_sharepoint_add_title' | translate }}"
               data-primary-action="$ctrl.submit()"
               data-primary-label="{{ 'wizard_confirm' | translate }}"
               data-secondary-action="resetAction()"
               data-secondary-label="{{ 'common_cancel' | translate }}"
               data-on-dismiss="resetAction()"
               data-loading="$ctrl.loading">
        <p data-translate="sharepoint_accounts_action_sharepoint_add_intro"></p>
        <form class="form-horizontal" name="$ctrl.addAccountForm" novalidate>
            <div class="form-group"
                 data-ng-repeat="option in $ctrl.optionsList track by $index"
                 data-ng-class="{
                    'has-error': $ctrl.addAccountForm.$invalid && $ctrl.addAccountForm.$dirty,
                    'has-success': $ctrl.addAccountForm.$valid && $ctrl.addAccountForm.$dirty}">
                <div class="clearfix">
                    <label class="control-label col-md-4" for="optionPricesQuantity-{{$index}}"
                            data-ng-bind="option.productName"></label>
                    <div class="col-md-3">
                        <div data-wuc-increment-number
                             data-ng-model="option.prices[0].quantity"
                             data-ng-required="true"
                             data-wuc-increment-number-id="optionPricesQuantity-{{$index}}"
                             data-wuc-increment-number-init="option.prices[0].minimumQuantity"
                             data-wuc-increment-number-min="option.prices[0].minimumQuantity"
                             data-wuc-increment-number-max="option.prices[0].maximumQuantity"
                             data-wuc-increment-number-name="optionPricesQuantity[{{$index}}]"
                             data-wuc-increment-number-size="2">
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 mt-2">
                        <strong class="text-danger"
                                data-ng-bind-html="$ctrl.constructor.getPrice(option) | currency : $ctrl.constructor.getCurrency(option)"></strong>
                        <span data-translate="sharepoint_accounts_action_sharepoint_add_monthly"></span>
                    </div>
                </div>
                <small class="col-md-offset-4 pl-4 help-block"
                        data-translate="sharepoint_accounts_action_sharepoint_add_error_outofbounds"
                        data-translate-values="{ t0: option.prices[0].minimumQuantity, t1: option.prices[0].maximumQuantity }"
                        data-ng-if="$ctrl.addAccountForm.$invalid && $ctrl.addAccountForm.$dirty"></small>
            </div>
            <p data-translate="sharepoint_accounts_action_sharepoint_add_extra_intro"></p>
        </form>
    </oui-modal>
</div>
